folium==0.8.3
tweepy==3.10.0
pandas==1.1.5
re==2.2.1
csv==1.0
matplotlib==3.2.2
sherlock==3.6.1
geocoder==1.38.1
beautifulsoup4==4.10.0
requests==2.26.0
requests-futures==1.0.0
torrequest=0.1.0
os
infoga
